page-my-info {
    input{
        text-align: right;
    }
    .item-inner{
        border-bottom-color: #dedede!important;
        box-shadow: none!important;
    }
    p{
        text-align: center;
        color: #888;
        font-size: .95em;
    }
    h4{
        border-top: 1px dotted #000;
    }
}
